* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.main-container {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  gap: 10px;

  width: 90%;
  min-height: 90vh;
  max-width: 800px;

  padding: 5%;
  margin: 1rem auto;

  border: 2px solid #333;
  border-radius: 8px;
}

.cell {
  background-color: teal;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
}
