* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
  background-color: #f4f4f4;
}

.main-container {
  display: grid;

  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: repeat(4, 1fr); */

  gap: 2px;

  width: 90%;
  min-height: 90vh;
  max-width: 1200px;

  padding: 5%;
  margin: 1rem auto;

  border: 2px solid #333;
  border-radius: 8px;

  overflow: hidden;
}

.cell {
  aspect-ratio: 1 / 1;
  border-radius: 5%;

  background-color: rgb(232, 46, 13);
  box-shadow: 0 0 2px #ff0000;
}

.cell:hover {
  opacity: 0.5;
}

.cell:active {
  opacity: 0.2;
}

#cellsModifyBtn {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;

  font-size: 1rem;
  font-weight: bold;

  border: none;
  border-radius: 5px;

  background-color: #333;
  color: #fff;

  cursor: pointer;
}
